language: python
cache: pip
matrix:
  include:
  - python: "3.6"
    env: TOXENV=docs
  - python: "3.6"
    env: TOXENV=flake8
  - python: "3.6"
    env: TOXENV=py36
install:
  - travis_retry pip install tox
script:
  - travis_retry tox
